<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>LoginCTL</display-name>
    <servlet-name>LoginCTL</servlet-name>
    <servlet-class>javawebapplication.controller.LoginCTL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCTL</servlet-name>
    <url-pattern>/LoginCTL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCTL</display-name>
    <servlet-name>UserCTL</servlet-name>
    <servlet-class>javawebapplication.controller.UserCTL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCTL</servlet-name>
    <url-pattern>/UserCTL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeCTL</display-name>
    <servlet-name>WelcomeCTL</servlet-name>
    <servlet-class>javawebapplication.controller.WelcomeCTL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeCTL</servlet-name>
    <url-pattern>/WelcomeCTL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListCTL</display-name>
    <servlet-name>UserListCTL</servlet-name>
    <servlet-class>javawebapplication.controller.UserListCTL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListCTL</servlet-name>
    <url-pattern>/UserListCTL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdressListCTL</display-name>
    <servlet-name>AdressListCTL</servlet-name>
    <servlet-class>javawebapplication.controller.AdressListCTL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdressListCTL</servlet-name>
    <url-pattern>/AdressListCTL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAdress</display-name>
    <servlet-name>ServletAdress</servlet-name>
    <servlet-class>javawebapplication.utility.ServletAdress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdress</servlet-name>
    <url-pattern>/ServletAdress</url-pattern>
  </servlet-mapping>
</web-app>